@import 'tailwindcss';
@theme {
  --color-primary: #25b6b1
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
}

body,
button,
input,
select,
td,
textarea,
th {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

li,
ul,
ol {
  list-style: none;
}
