@import 'tailwindcss';
@theme {
  /* color */
  --color-primary: #1a3027;
  --color-secondary: #dbad7e;
  --color-color: #ffe6cc;
  /*--color-primary: #25b6b1;*/

  /* size */
  --breakpoint-xs: 365px;
  --breakpoint-sm: 460px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

/* Font */
@font-face {
  font-family: 'NotoSansKR';
  src: url('/public/fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/public/fonts/NotoSansKR-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'NotoSansKR', sans-serif;
}

html,
body,
#web {
  width: auto;
  height: auto;
  max-width: 100%;
  min-height: 100vh;
}

li,
ul,
ol {
  list-style: none;
}